---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import { getCollectionByHandle } from "../../utils/Shopify";
import ProductGrid from "../../components/ProductGrid.astro";

const { handle } = Astro.params;
const response = await getCollectionByHandle(handle);
const collection = response.collection;

if (!collection) {
  Astro.response.status = 404;
}
---

<Layout title="Astro Store">
  <Header />
  <h1 class="text-center text-4xl m-10">{collection?.title}</h1>

  <ProductGrid products={collection?.products}></ProductGrid>
</Layout>
