---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Astro Store">
    <Header />
    <h1 class="text-center text-4xl m-10">404 Not Found</h1>  
  </Layout>