---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Astro Store">
	<Header/>
	<div>
		<img src="/cart.jpg" alt="" srcset="">
	</div>
</Layout>
