---
import Logos from "./Logos.astro";
---

<div
  class="w-full bg-black text-white flex h-10 items-center justify-between sticky"
>
  <div class="space-y-2 ml-2 block md:hidden hover:opacity-50">
    <div class="w-8 h-0.5 bg-gray-600"></div>
    <div class="w-8 h-0.5 bg-gray-600"></div>
    <div class="w-8 h-0.5 bg-gray-600"></div>
  </div>

  <a href="/">
    <Logos />
  </a>

  <!-- Nav -->
  <nav class="hidden md:block">
    <ul class="flex">
      <li class="mr-2"><a href="/">Home</a></li>
      <li class="mr-2"><a href="/collections/all">All Collection</a></li>
      <li class="mr-2"><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>

  <!-- search -->
  <div>
    <form action="/search" method="get">
      <input
        class="text-black rounded mr-4 p-1 pl-2"
        type="text"
        name="search"
        id="searchbar"
        placeholder="Search..."
      />
    </form>
  </div>
</div>
