---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import { getSearchResultsByTerm } from "../../utils/Shopify";
import ProductGrid from "../../components/ProductGrid.astro";

const { searchParams } = Astro.url;
const searchTerm = searchParams.get("search");

const response = await getSearchResultsByTerm(searchTerm || undefined);
const results = response.products;

if (!results) {
  Astro.response.status = 404;
}
---

<Layout title="Astro Store">
  <Header />
  <h1 class="text-center text-4xl m-10">Search: {searchTerm}</h1>

  <ProductGrid products={results}></ProductGrid>

</Layout>
