---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import { getProductByHandle } from "../../utils/Shopify";

const { handle } = Astro.params;
const response = await getProductByHandle(handle);
const product = response.product;

if (!product) {
  Astro.response.status = 404;
}
---

<Layout title="Astro Store">
  <Header />
  <div class="max-w-2xl m-auto mt-4">
    <h1 class="font-bold">Title: {product.title}</h1>
    <br />
    <p>{product.description}</p>
    <img
      src={product.featuredImage.transformedSrc}
      width="300px"
      alt=""
      srcset=""
    />
  </div>
</Layout>
